<h1>Student Form</h1>

<form action="<%= students_path %>" method="POST">

  <label>First Name:</label><br>
  <input type="text" id="student_first_name" name="student[first_name]"><br>

  <label>Last Name:</label><br>
  <input type="text" id="student_last_name" name="student[last_name]"><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
